<div class="employer-registration-container">
  <div class="form" >
    <div class="employer-registration-form">
      <h2>Registration</h2>
      <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required [(ngModel)]="name">
  
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required [(ngModel)]="email" #emailInput="ngModel">
          <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            <p class="error-message">Please enter a valid email address.</p>
          </div>
          <label for="phoneNumber">Phone Number:</label>
          <input type="tel" id="number" name="number" required [(ngModel)]="number" #phoneNumberInput="ngModel">
          <div *ngIf="phoneNumberInput.invalid && (phoneNumberInput.dirty || phoneNumberInput.touched)">
            <p class="error-message">Please enter a valid phone number.</p>
          </div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required [(ngModel)]="password" #passwordInput="ngModel">
          <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
            <p class="error-message">Please enter a password.</p>
          </div>
        <!-- Your form fields here -->
        <p>Already a user?</p>
        <a routerLink="/elogin">Click Here</a><br>
        <button type="submit" [disabled]="registrationForm.invalid">Register</button>

        <div *ngIf="isRegisteredIn" class="success-message"><p>You are successfully Registered!</p>
        <button (click)="redirectToAnotherPage()">Click Here to Login</button>
      </div>

      </form>
    </div>
  </div>
  <br><br>
</div>