<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Posting Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <!-- Navigation Tabs -->
        <ul class="nav nav-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" id="postJobTab" data-toggle="tab" href="employerpage">Post Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="postedJobsTab" data-toggle="tab" href="postedjobs">Posted Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logoutTab" href="">Logout</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content">
            <!-- Post Job Section -->
            <div class="tab-pane fade show active" id="postJobSection">
                <div class="container">
                    <div class="form" style="height: 80vh; overflow-y: auto;">
                        <h2>Job Posting Form</h2>
                        <hr>
                        <form #jobForm="ngForm" (ngSubmit)="submitJob(jobData)">
                            <div class="form-group">
                                <label for="Name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Enter your name" required [(ngModel)]="jobData.name" #name="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="hostel">Hostel Name:</label>
                                <input type="text" class="form-control" id="hostel" name="hostel"
                                    placeholder="Enter company name" required [(ngModel)]="jobData.hostel"
                                    #hostel="ngModel">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="floor">Floor:</label>
                                    <input type="text" class="form-control" id="floor" name="floor"
                                        placeholder="Enter floor" required [(ngModel)]="jobData.floor" #floor="ngModel">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="rooms">Rooms:</label>
                                    <input type="text" class="form-control" id="rooms" name="rooms"
                                        placeholder="Enter rooms" required [(ngModel)]="jobData.rooms" #rooms="ngModel">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="complaints">Complaints:</label>
                                    <input type="text" class="form-control" id="complaints" name="complaints"
                                        placeholder="Enter minimum experience required" required
                                        [(ngModel)]="jobData.complaints" #complaints="ngModel">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="description">Description:</label>
                                    <input type="text" class="form-control" id="description" name="description"
                                        placeholder="Enter maximum experience required" required
                                        [(ngModel)]="jobData.description" #description="ngModel">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="available">Available:</label>
                                    <input type="text" class="form-control" id="available" name="available"
                                        placeholder="Enter minimum salary" required [(ngModel)]="jobData.available"
                                        #available="ngModel">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Post Job</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (Popper.js and Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>